---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths () {
  const blogEntries = await getCollection('notes');
  return blogEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry
    }
  }))
}

const { entry } = Astro.props;

if (!entry) {
  return Astro.redirect("/notes");
}

const { Content } = await entry.render();
---

<Layout title={`Pufferbommy | ${entry.data.title}`}>
  <main>    
    <h1 class="title">{entry.data.title}</h1>
    <p>
      <img src={entry.data.image} alt={entry.data.title} />
    </p>
    <Content />
  </main>
</Layout>

<style is:global>
  main {
    max-width: 680px;
    margin: 0 auto;
    padding-block: 2rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  p {
    display: flex;
    margin-top: 2rem;
  }

  img {
    width: 100%;
  }

  p:has(> img) + p:has(> img) {
    margin-top: 1rem;
  }

  p > img {
    box-shadow: 0 0 2rem hsla(var(--primary), 0.125);
    border-radius: 0.5rem;
  }
</style>