---
import Layout from '../../layouts/Layout.astro';

const items = [
  {
    title: 'ECMAScript   JavaScript',
    date: '2024-01-01',
    tags: ['JavaScript'],
  },
  {
    title: 'CSS  flexbox  grid',
    date: '2024-01-02',
    tags: ['CSS'],
  },
  {
    title: 'HTML / CSS  ',
    date: '2024-01-03',
    tags: ['HTML', 'CSS'],
  },
  {
    title: 'CSS  10  (10px  1rem)',
    date: '2024-01-04',
    tags: ['CSS'],
  },
  {
    title: '  npm  yarn',
    date: '2024-01-05',
    tags: ['npm', 'yarn'],
  },
  {
    title: '   JavaScript',
    date: '2024-01-06',
    tags: ['JavaScript'],
  },
  {
    title: '  React  useState',
    date: '2024-01-07',
    tags: ['React'],
  },
  {
    title: 'React  1  ',
    date: '2024-01-08',
    tags: ['React'],
  },
  {
    title: '  React  2  ',
    date: '2024-01-09',
    tags: ['React'],
  },
  {
    title: '  React  3  ',
    date: '2024-01-10',
    tags: ['React'],
  },
]
---

<Layout>
	<div class="main-wrapper">
		<main class="container">
      <h1 class="gradient-text title">Today I Learned.</h1>
      <ul class="nes-list is-circle til-list">
        {items.map((item) => (
           <li>
            <h2>{item.title}</h2>
            <div class="info">
              <dl>
                <dt>Date:</dt>
                <dd>{item.date}</dd>
              </dl>
              <dl>
                <dt>Tags:</dt>
                <dd>
                  {item.tags.map((tag) => (
                    <a href={`/til/tags/${tag.toLowerCase()}`}>{tag}</a>
                  ))}
                </dd>
              </dl>
            </div>
          </li>
        ))}
      </ul>
      <div>
        <a href="/" class="nes-btn">Back</a>
        <a href="/til/2023-12-31" class="nes-btn">Next</a>
      </div>
		</main>	
	</div>	
</Layout>

<style>
	.main-wrapper {
		padding-inline: 2rem;
		position: relative;
		z-index: 1;
		background-color: inherit;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
	}

  main {
		min-height: calc(100dvh - 72px);
		padding-block: 4rem;
  }

  .title {
		font-size: 4rem;
    margin-bottom: 2rem;
	}

  .til-list {
    --til-list-padding-left: 80px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: var(--til-list-padding-left);

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    li::before {
      color: inherit;
      left: auto;
      top: 1rem;
      right: calc(100% + 14px / 2 + var(--til-list-padding-left) / 2);
    }
  }

  .info {
    display: flex;
    gap: 2rem;
    color: hsl(270, 10%, 50%);

    dl {
      display: flex;
      gap: 1rem;
    }
  }
</style>
