---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pufferbommy | Contact">
  <main>
    <div class="drawing">
      <svg
        id="drawing-horizontal"
        viewBox="0 0 1357 508"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M182.333 395.746C172.603 395.746 162.874 395.746 153.145 395.746C124.131 395.746 92.307 399.044 64.0035 391.486C33.6064 383.37 11.382 361.327 4.99672 330.428C1.04714 311.316 0.632705 290.839 1.21019 271.421C1.94885 246.584 4.64049 220.272 16.9085 198.136C46.8162 144.172 120.426 143.032 172.077 161.77C193.104 169.398 244.963 188.061 228.165 219.83C216.147 242.561 195.535 260.806 178.94 280.099C166.997 293.984 155.254 308.419 146.361 324.512C143.806 329.134 142.806 332.807 147.228 336.345C158.797 345.599 170.491 354.921 181.228 365.138C184.111 367.881 216.992 397.511 205.367 403.556C193.89 409.524 179.376 413.093 166.713 415.625"
          stroke-linecap="round"
        />
        <path
          d="M371.186 314.809C370.358 311.497 350.241 312.971 347.126 313.704C339.388 315.525 335.521 326.749 333.005 332.953C323.65 356.016 319.73 379.041 318.963 403.792C318.399 422.017 317.536 440.887 318.963 459.091C320.145 474.16 326.791 482.649 339.553 490.33C375.829 512.163 430.314 513.748 465.849 489.147C497.232 467.421 501.981 428.468 489.831 394.326C482.652 374.153 462.899 350.774 439.265 364.507C423.609 373.604 403.145 395.552 402.425 414.994C402.235 420.13 403.189 421.305 408.105 421.305"
          stroke-linecap="round"
        />
        <path
          d="M575.658 409.945C575.658 375.972 575.658 341.998 575.658 308.025C575.658 294.618 575.082 281.033 575.816 267.635C576.138 261.772 576.729 252.633 581.969 248.702C589.297 243.207 605.39 246.702 612.025 251.305C628.901 263.015 638.912 282.643 646.971 300.925C654.259 317.455 660.09 337.762 670.953 352.359C673.93 356.358 681.866 366.794 688.15 365.927C692.585 365.315 694.326 357.81 695.25 354.725C702.661 329.981 705.639 303.571 708.897 278.048C711.432 258.189 712.304 237.9 716.233 218.252"
          stroke-linecap="round"
        />
        <path
          d="M902.247 382.966C894.91 382.966 887.574 382.966 880.237 382.966C873.326 382.966 866.739 383.472 860.91 379.101C841.139 364.272 838.075 334.357 835.982 311.811C831.625 264.873 832.515 214.605 840.4 168.081C846.493 132.134 857.555 96.9058 867.537 61.9C872.345 45.0364 877.147 28.2437 879.212 10.7819C879.584 7.63574 879.312 2.52784 882.367 1"
          stroke-linecap="round"
        />
        <path d="M751.732 140.155H897.987" stroke-linecap="round" />
        <path
          d="M1032.04 252.186C1031.28 248.146 1006.39 250.608 1003.8 250.714C989.178 251.315 978.929 256.375 969.143 267.353C957.117 280.843 949.477 297.747 946.125 315.44C942.424 334.981 942.32 357.137 944.43 376.909C945.608 387.947 950.032 401.43 959.82 407.911C971.124 415.397 989.142 404.269 997.603 397.116C1015.99 381.573 1027.86 356.627 1035.61 334.309C1040.24 320.965 1043.68 306.726 1044.71 292.601C1044.98 288.81 1045.88 283.487 1042.66 280.646C1036.12 274.888 1034.01 286.252 1032.66 290.816C1027.51 308.333 1025.47 326.31 1024.99 344.524C1024.6 359.245 1023.11 375.603 1027.4 389.935C1028.51 393.639 1031.43 403.941 1036.86 403.941"
          stroke-linecap="round"
        />
        <path
          d="M1170.95 375.036C1170.24 375.661 1169.77 375.823 1168.81 375.839C1163.07 375.934 1157.32 375.839 1151.59 375.839C1143.38 375.839 1134.66 376.559 1126.61 374.59C1117.1 372.263 1108.67 366.442 1102.07 359.334C1081.5 337.168 1078.91 306.872 1078.16 278.059C1077.71 260.742 1078.38 243.297 1080.84 226.135C1082.17 216.877 1084.39 206.47 1089.23 198.3C1096.07 186.749 1110.3 183.349 1122.5 180.859C1131.59 179.005 1140.69 178.494 1149.94 178.361C1154.44 178.296 1159.79 177.641 1164.03 179.61C1169.86 182.309 1172.31 187.708 1176.57 191.966"
          stroke-linecap="round"
        />
        <path
          d="M1298.61 408.759C1298.61 379.762 1298.47 350.891 1294.56 322.086C1289.13 282.162 1281.07 242.59 1274.97 202.761C1269.62 167.814 1265.73 132.675 1261.55 97.5761C1260.17 86.0338 1258.85 74.4769 1256.95 63.0052C1256.27 58.907 1256.03 54.0984 1254.45 50.2028C1253.62 48.1408 1253.11 45.399 1250.53 47.5263C1222.62 70.5058 1195.25 94.1183 1167.16 116.891C1159.17 123.365 1151.19 129.822 1143.92 137.098C1141.53 139.484 1142.38 139.615 1145.61 139.73C1195.06 141.496 1244.6 140.698 1294.06 142.362C1314.76 143.059 1335.75 145.396 1356.43 145.396"
          stroke-linecap="round"
        />
      </svg>
      <svg
        id="drawing-vertical"
        viewBox="0 0 591 568"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M148.295 199.969C140.392 199.969 132.489 199.969 124.586 199.969C101.018 199.969 75.1678 202.647 52.1771 196.508C27.4859 189.916 9.43321 172.011 4.2465 146.912C1.03829 131.387 0.70165 114.754 1.17073 98.9812C1.77074 78.8058 3.95713 57.433 13.9223 39.4523C38.2161 -4.38203 98.0087 -5.30837 139.965 9.91218C157.044 16.1082 199.169 31.2684 185.524 57.0739C175.762 75.5377 159.019 90.3584 145.539 106.03C135.838 117.308 126.299 129.034 119.075 142.106C117 145.861 116.188 148.844 119.78 151.718C129.177 159.235 138.676 166.807 147.398 175.106C149.739 177.335 176.448 201.403 167.006 206.312C157.682 211.161 145.893 214.059 135.607 216.116"
          stroke-linecap="round"
        />
        <path
          d="M283.053 112.004C282.38 109.313 266.04 110.511 263.509 111.107C257.224 112.586 254.083 121.703 252.039 126.742C244.44 145.476 241.256 164.179 240.633 184.284C240.175 199.088 239.473 214.416 240.633 229.203C241.593 241.443 246.991 248.339 257.358 254.578C286.824 272.313 331.082 273.6 359.947 253.617C385.439 235.969 389.296 204.328 379.427 176.595C373.596 160.209 357.55 141.218 338.353 152.373C325.636 159.763 309.013 177.591 308.428 193.383C308.273 197.555 309.048 198.51 313.042 198.51"
          stroke-linecap="round"
        />
        <path
          d="M436.175 179.031C436.175 151.434 436.175 123.838 436.175 96.2416C436.175 85.3519 435.707 74.3169 436.303 63.4335C436.564 58.6712 437.044 51.2473 441.301 48.0547C447.253 43.5905 460.325 46.4296 465.715 50.1693C479.423 59.6809 487.555 75.6247 494.102 90.4746C500.021 103.902 504.758 120.397 513.581 132.254C515.999 135.503 522.446 143.979 527.551 143.275C531.153 142.778 532.567 136.682 533.318 134.176C539.338 114.077 541.757 92.6239 544.403 71.8918C546.462 55.7605 547.17 39.2803 550.362 23.3204"
          stroke-linecap="round"
        />
        <path
          d="M542.771 506.371C542.771 482.817 542.654 459.366 539.473 435.968C535.065 403.538 528.519 371.394 523.566 339.041C519.221 310.654 516.06 282.111 512.66 253.6C511.542 244.225 510.467 234.837 508.928 225.519C508.378 222.19 508.179 218.284 506.899 215.12C506.221 213.445 505.808 211.218 503.71 212.946C481.044 231.612 458.806 250.792 435.988 269.29C429.501 274.548 423.02 279.794 417.11 285.704C415.172 287.642 415.859 287.748 418.487 287.842C458.652 289.276 498.897 288.628 539.075 289.98C555.885 290.545 572.932 292.444 589.73 292.444"
          stroke-linecap="round"
        />
        <path
          d="M411.474 565.204C410.903 565.712 410.518 565.843 409.735 565.857C405.076 565.934 400.408 565.857 395.749 565.857C389.085 565.857 381.998 566.442 375.457 564.842C367.731 562.952 360.887 558.224 355.529 552.45C338.819 534.445 336.717 509.835 336.107 486.431C335.74 472.365 336.28 458.194 338.281 444.254C339.36 436.733 341.16 428.28 345.093 421.644C350.653 412.261 362.211 409.499 372.124 407.476C379.501 405.97 386.897 405.555 394.408 405.447C398.069 405.394 402.408 404.863 405.858 406.462C410.589 408.654 412.581 413.04 416.04 416.498"
          stroke-linecap="round"
        />
        <path
          d="M260.289 361.198C259.674 357.916 239.457 359.916 237.353 360.002C225.473 360.49 217.148 364.601 209.199 373.518C199.43 384.475 193.224 398.207 190.502 412.578C187.495 428.452 187.411 446.449 189.125 462.509C190.082 471.475 193.675 482.427 201.626 487.692C210.808 493.772 225.444 484.733 232.316 478.923C247.253 466.298 256.895 446.034 263.188 427.905C266.95 417.066 269.743 405.5 270.58 394.026C270.804 390.948 271.533 386.623 268.913 384.316C263.604 379.639 261.888 388.869 260.797 392.577C256.608 406.806 254.956 421.408 254.564 436.203C254.248 448.161 253.034 461.449 256.521 473.09C257.422 476.099 259.794 484.467 264.203 484.467"
          stroke-linecap="round"
        />
        <path
          d="M123.262 566.588C117.302 566.588 111.343 566.588 105.384 566.588C99.7697 566.588 94.4187 566.999 89.6845 563.448C73.6242 551.403 71.1358 527.103 69.4358 508.789C65.8965 470.662 66.6189 429.829 73.0241 392.038C77.9732 362.839 86.9592 334.224 95.0671 305.789C98.973 292.091 102.873 278.45 104.551 264.266C104.853 261.711 104.632 257.561 107.114 256.32"
          stroke-linecap="round"
        />
        <path d="M1 369.355H119.801" stroke="black" stroke-linecap="round" />
      </svg>
    </div>
    <div class="contact-list">
      <div class="contact-list-item">
        GitHub
        <a target="_blank" href="https://github.com/pufferbommy"
          >Pufferbommy</a
        >
      </div>
      <div class="contact-list-item">
        LinkedIn
        <a target="_blank" href="https://www.linkedin.com/in/panyawat-k/">
          Panyawat Kaedpol
        </a>
      </div>
      <div class="contact-list-item">
        Email
        <a target="_blank" href="mailto:panyawat.kaedpol@gmail.com">
          panyawat.kaedpol@gmail.com
        </a>
      </div>
    </div>
  </main>
</Layout>

<style>
	main {
  flex: 1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.drawing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drawing-horizontal {
  max-width: 1357px;
}

#drawing-vertical {
  display: none;
  max-width: 591px;
}

.contact-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-list-item {
  font-size: clamp(var(--font-lg), 3vw, var(--font-xl));
  display: flex;
  justify-content: space-between;
}

.contact-list-item a {
  position: relative;
  word-break: break-all;
}

.contact-list-item a::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 110%;
  left: 5%;
  background-color: hsla(var(--primary), 0.075);
  z-index: -1;
  transition: transform var(--transition-duration);
  clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
  transform-origin: left;
}

.contact-list-item:nth-child(odd) a::before {
  transform: scaleX(1) rotate(-2deg);
  animation: write-from-left-odd calc(var(--transition-duration) * 4);
}

.contact-list-item:nth-child(even) a::before {
  transform: scaleX(1) rotate(2deg);
  animation: write-from-left-even calc(var(--transition-duration) * 4);
}

.contact-list-item:nth-child(odd) a:hover::before {
  transform: scale(1.1) rotate(-2deg);
}

.contact-list-item:nth-child(even) a:hover::before {
  transform: scale(1.1) rotate(2deg);
}

.contact-list-item a:hover::before {
  animation-play-state: paused;
}

@keyframes write-from-left-odd {
  from {
    transform: scaleX(0) rotate(0deg);
  }
  to {
    transform: scaleX(1) rotate(-2deg);
  }
}

@keyframes write-from-left-even {
  from {
    transform: scaleX(0) rotate(0deg);
  }
  to {
    transform: scaleX(1) rotate(2deg);
  }
}

@media (max-width: 600px) {
  .main {
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  #drawing-horizontal {
    display: none;
  }

  #drawing-vertical {
    display: block;
  }
}

@media (max-width: 650px) {
  .contact-list-item {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
}

</style>