---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pufferbommy">
	<main>
		<div class="drawing">
			<svg
				class="drawing-vertical"
				viewBox="0 0 557 534"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M135.12 245.99C132.591 259.901 134.84 274.946 136.995 288.736C141.42 317.055 148.56 344.666 151.244 373.291C151.391 374.862 150.523 400.101 154.931 400.101C163.445 400.101 171.964 401.062 180.491 401.163C216.578 401.593 252.666 399.736 288.731 398.726C302.375 398.344 316.755 398.972 330.228 396.976C333.539 396.485 347.726 399.26 347.726 393.726C347.726 365.418 347.334 337.462 344.976 309.171C343.22 288.099 340.977 266.838 340.977 245.677C340.977 238.724 259.725 239.378 249.36 238.678C228.63 237.277 207.883 241.49 187.115 241.49C177.483 241.49 168.047 242.373 158.493 242.615C152.356 242.77 146.334 243.74 140.182 243.74C139.501 243.74 136.802 245.009 136.495 244.615C134.793 242.426 153.286 226.798 153.618 226.491C172.058 209.481 190.382 192.312 207.864 174.308C211.267 170.803 214.338 165.621 218.363 162.747C220.913 160.925 240.049 181.221 242.11 182.87C256.669 194.517 272.407 202.673 288.606 211.618C306.606 221.556 323.23 233.388 340.977 243.74"
					stroke-linecap="round"
				/>
				<path
					d="M225.112 161.622C223.373 161.622 226.618 161.447 226.674 161.435C241.896 158.173 257.045 153.425 272.108 149.498C295.732 143.339 320.493 138.093 343.226 129"
					stroke-linecap="round"
				/>
				<path
					d="M343.227 129C353.305 137.892 364.321 145.945 375.286 153.685C383.874 159.747 392.275 167.023 401.721 171.746C405.832 173.802 410.482 175.899 414.283 178.433C414.905 178.848 407.566 182.943 407.158 183.183C398.233 188.433 391.002 196.27 383.473 203.243C373.993 212.024 363.669 219.527 354.476 228.616C350.212 232.831 341.405 237.259 338.727 242.615"
					stroke-linecap="round"
				/>
				<path
					d="M411.845 181.87C411.845 186.009 413.865 190.475 414.345 194.744C416.293 212.082 417.572 229.461 419.095 246.864C420.242 259.977 420.705 273.074 421.844 286.173C422.536 294.128 423.094 302.12 423.094 310.109"
					stroke-linecap="round"
				/>
				<path
					d="M348.851 395.601C350.737 395.392 352.305 393.635 353.663 392.476C359.779 387.26 366.108 381.91 371.849 376.29C378.762 369.525 382.792 360.452 388.847 352.98C393.269 347.524 398.188 342.61 402.409 336.981C409.337 327.744 419.132 319.159 424.219 308.984"
					stroke-linecap="round"
				/>
				<path
					d="M213.863 398.976C213.863 388.15 215.048 377.497 216.05 366.729C217.689 349.11 216.467 328.816 231.236 315.983C242.436 306.253 265.381 302.583 279.482 306.922C288.672 309.749 294.747 316.775 298.855 325.232C307.752 343.55 303.855 365.61 303.855 385.227C303.855 389.245 303.716 394.059 304.98 397.851"
					stroke-linecap="round"
				/>
				<path
					d="M290.356 344.981C279.341 336.169 273.776 361.325 290.981 357.605C294.791 356.781 294.693 345.997 291.481 343.856"
					stroke-linecap="round"
				/>
				<path
					d="M357.254 271.483C356.809 273.137 357.263 275.277 357.42 276.911C357.989 282.833 358.545 288.756 359.1 294.68C359.707 301.158 360.151 307.708 361.221 314.13"
					stroke-linecap="round"
				/>
				<path
					d="M356.758 270.492C362.304 265.51 369.238 261.781 375.451 257.722C379.189 255.28 383.073 253.066 386.801 250.615C388.65 249.399 390.329 247.965 392.215 246.799C394.254 245.538 396.4 244.477 398.565 243.452C399.507 243.005 399.443 243.324 399.543 244.278C400.09 249.515 400.399 254.761 401.017 259.995C401.439 263.571 402.333 267.035 402.628 270.629C402.759 272.217 402.661 273.898 403.124 275.423C403.597 276.979 403.788 278.504 404.419 280.024C405.133 281.743 406.1 283.538 406.1 285.368"
					stroke-linecap="round"
				/>
				<path
					d="M360.974 316.609C361.941 316.434 362.51 315.131 363.122 314.488C364.865 312.659 367.172 311.304 369.294 309.97C375.063 306.343 380.703 302.45 386.264 298.509C389.649 296.11 393.178 293.766 396.843 291.815C399.844 290.218 403.654 288.806 406.1 286.36"
					stroke-linecap="round"
				/>
				<path
					d="M376.346 256.359C377.26 265.819 379.344 275.139 381.525 284.377C382.298 287.648 383.323 290.888 383.977 294.184C384.442 296.523 384.599 298.9 385.024 301.237"
					stroke-linecap="round"
				/>
				<path
					d="M357.006 291.567C362.198 287.59 367.593 283.957 373.315 280.781C377.163 278.646 381.177 276.866 385.052 274.789C389.419 272.448 393.946 270.732 398.537 268.907C399.218 268.637 400.789 268.22 401.14 267.516"
					stroke-linecap="round"
				/>
				<path
					d="M448.123 504.568C445.017 488.182 443.154 472.323 443.971 455.592C444.681 441.042 444.84 419.371 455.044 407.52C459.13 402.775 466.244 400.149 472.079 398.204"
					stroke-linecap="round"
				/>
				<path
					d="M500.826 375.207C491.913 371.839 480.773 371.794 474.741 380.264C469.506 387.614 467.447 401.752 477.083 406.935C487.561 412.57 505.771 392.174 506.576 382.926C507.133 376.517 497.92 372.319 493.16 370.415"
					stroke-linecap="round"
				/>
				<path
					d="M482.62 364.666C482.62 356.335 483.497 346.032 493.16 343.478C498.462 342.077 504.393 343.917 508.812 346.885C512.962 349.674 512.861 353.22 515.626 356.468C517.919 359.163 529.725 358.119 532.874 358.81C537.238 359.768 546.067 361.925 546.715 367.754C547.216 372.264 542.145 375.945 539.049 378.188C536.05 380.361 533.156 380.802 537.292 383.192C541.973 385.896 548.208 389.263 550.175 394.691C552.937 402.311 545.895 408.321 540.007 411.513C536.961 413.165 532.236 413.368 533.992 417.582C535.355 420.853 536.54 424.296 535.376 427.856C532.141 437.751 518.001 436.778 510.355 433.818C507.565 432.738 504.416 434.926 501.572 435.309C492.976 436.466 479.001 436.292 472.931 428.761C471.892 427.473 472.806 426.344 471.227 426.951C468.286 428.082 464.664 428.587 461.539 428.229C451.41 427.066 451.063 417.588 444.29 412.791C436.435 407.226 426.33 402.682 424.274 391.922C421.828 379.123 436.365 381.109 443.492 384.044C444.88 384.615 443.967 377.293 443.971 377.016C444.016 373.791 443.959 368.315 448.283 367.86C449.863 367.694 454.347 369.623 455.47 368.126C456.808 366.343 456.185 361.698 456.96 359.502C459.18 353.212 465.067 351.101 471.015 353.433C475 354.996 483.458 357.718 485.495 361.791"
					stroke-linecap="round"
				/>
				<path
					d="M407.209 71.4443C405.767 76.4714 397.951 65.6996 395.282 61.1967C385.236 44.2452 393.459 25.3955 413.745 23.6222C417.763 23.2709 428.638 28.5848 429.511 23.9476C432.54 7.86392 454.26 4.53972 467.662 3.37105C474.198 2.80103 479.638 2.68721 485.879 4.50967C489.844 5.66765 491.029 8.96081 494.293 10.1214C508.923 15.3233 529.349 4.62331 542.818 16.1399C544.372 17.468 544.965 19.9798 544.126 21.833C543.632 22.9229 539.964 24.163 541.103 23.7849C548.637 21.2848 557.415 28.8598 555.808 36.635C552.799 51.185 536.075 51.7237 525.5 57.1302C524.246 57.7709 530.835 66.3915 526.398 70.7123C515.649 81.1817 494.001 82.102 480.079 80.7159C468.843 79.5973 472.199 74.8226 477.138 79.74C485.896 88.4592 467.147 94.026 462.106 94.6234C449.173 96.1563 425.95 93.322 418.646 80.3093C414.905 73.6439 415.143 71.4443 407.209 71.4443Z"
					stroke-linecap="round"
				/>
				<path
					d="M72.1882 76.0287C59.8686 88.3857 46.246 92.5924 28.773 88.9315C14.2812 85.8951 -4.87983 73.5387 2.72382 56.0295C5.56537 49.4862 11.1486 46.1098 16.1504 41.5946C20.042 38.0815 17.4818 35.9566 16.07 31.6756C9.08689 10.5 29.9008 2.69101 47.5862 1.35416C58.5823 0.52296 91.8948 -0.129678 96.147 15.2246C96.3368 15.9102 95.0157 16.9354 95.8254 14.4988C97.5702 9.24858 104.006 5.83778 108.689 4.09599C116.241 1.28693 154.711 -3.25984 144.065 16.031C143.195 17.607 141.387 17.7321 143.261 17.16C148.084 15.6877 153.955 15.8347 158.858 16.3536C166.964 17.2116 191.18 22.5337 184.907 36.1915C182.971 40.4077 166.946 46.8837 171.4 49.0943C180.078 53.4014 206.618 69.782 186.837 79.4157C170.106 87.5638 143.614 84.8599 126.377 79.577C120.638 77.8181 125.345 77.3177 126.859 82.4801C130.591 95.208 110.225 96.5161 102.418 95.8667C90.1754 94.8484 80.0544 88.1148 70.741 80.706C69.029 79.3441 64.9523 77.1147 64.9523 76.0287"
					stroke-linecap="round"
				/>
				<path
					d="M105.771 533.423C105.771 522.028 108.632 510.816 107.549 499.386C106.806 491.543 104.836 482.725 98.9125 477.033C90.4241 468.878 79.8339 469.354 69.1934 467.127"
					stroke-linecap="round"
				/>
				<path
					d="M66.8749 453.946C62.7254 451.92 57.2634 452.664 53.1509 454.42C49.4335 456.006 45.566 458.908 45.5199 463.411C45.4241 472.764 56.7921 475.168 63.9615 473.852C67.9056 473.128 74.1208 470.656 75.1566 466.014C75.8566 462.877 72.6584 460.303 70.4686 458.901C66.6764 456.472 61.3076 454.311 56.7594 455.011"
					stroke-linecap="round"
				/>
				<path
					d="M43.4956 439.577C41.7243 435.113 42.0932 430.35 43.7416 425.846C46.7004 417.761 53.5216 413.215 61.1178 409.923C61.7278 409.659 65.9534 408 67.0216 408C70.7818 408 73.2067 413.509 74.3344 416.051C77.0176 422.1 78.2704 428.418 78.3374 435.015C78.3541 436.655 76.8205 441.193 77.8454 439.912C80.2112 436.955 83.1316 435.053 86.6118 433.449C92.9578 430.525 102.299 427.06 109.31 429.625C112.665 430.852 115.968 435.429 115.281 439.174C114.607 442.856 110.177 445.259 107.387 446.912C103.652 449.124 99.7201 450.652 95.8254 452.503C93.9403 453.398 98.7067 453.884 99.4482 454.225C102.082 455.435 104.297 457.735 104.413 460.777C104.562 464.679 102.078 469.113 99.1128 471.511C97.2334 473.032 95.0637 473.659 92.6946 473.837C91.5874 473.921 90.6632 473.461 91.8671 474.217C98.0459 478.097 100.245 488.634 92.5604 492.354C88.5475 494.296 83.0841 494.743 78.7176 494.188C76.7027 493.931 74.8138 493.313 73.1492 492.13C72.5046 491.672 71.0575 489.78 71.4719 490.453C77.6674 500.521 60.002 502.859 53.8721 502.708C46.7187 502.532 30.2651 497.16 35.8921 487.031C36.0268 486.789 35.4647 487.391 35.2212 487.523C32.5917 488.958 29.5095 489.402 26.5443 489.29C19.6255 489.03 15.6339 484.845 14.4235 478.176C13.74 474.41 14.7326 469.546 17.4425 466.681C18.1016 465.984 20.059 466.289 20.059 467.486C20.059 467.798 19.4949 467.195 19.2763 466.972C16.3869 464.027 13.9415 460.456 12.1424 456.752C11.1511 454.711 5.75883 442.739 11.8741 442.819C15.4722 442.867 19.5696 444.628 22.832 446.017C23.5949 446.342 25.4722 447.714 25.1354 446.957C24.5198 445.571 23.5289 444.422 22.9662 442.976C21.2797 438.642 20.7532 432.943 24.5316 429.491C28.3833 425.972 34.4284 428.731 38.3744 430.654C41.4268 432.141 43.455 434.675 45.1057 437.564"
					stroke-linecap="round"
				/>
			</svg>
			<svg
				class="drawing-horizontal"
				viewBox="0 0 1302 496"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M864.336 235.377C860.515 256.392 863.913 279.118 867.168 299.949C873.852 342.729 884.638 384.438 888.692 427.678C888.915 430.053 887.603 468.178 894.262 468.178C907.124 468.178 919.993 469.629 932.873 469.783C987.387 470.432 1041.9 467.627 1096.38 466.101C1116.99 465.524 1138.71 466.473 1159.07 463.458C1164.07 462.717 1185.5 466.909 1185.5 458.549C1185.5 415.786 1184.91 373.556 1181.35 330.82C1178.69 298.988 1175.3 266.871 1175.3 234.905C1175.3 224.402 1052.57 225.39 1036.91 224.332C1005.59 222.216 974.251 228.58 942.88 228.58C928.33 228.58 914.075 229.914 899.643 230.279C890.372 230.514 881.276 231.978 871.983 231.978C870.954 231.978 866.876 233.896 866.413 233.3C863.842 229.994 891.777 206.386 892.28 205.923C920.134 180.228 947.814 154.291 974.223 127.095C979.364 121.8 984.003 113.973 990.082 109.63C993.936 106.878 1022.84 137.537 1025.96 140.029C1047.95 157.622 1071.72 169.943 1096.19 183.454C1123.38 198.467 1148.5 216.34 1175.3 231.978"
					stroke-linecap="round"
				/>
				<path
					d="M1000.28 107.931C997.651 107.931 1002.55 107.666 1002.64 107.648C1025.63 102.721 1048.52 95.5482 1071.27 89.6166C1106.96 80.3133 1144.36 72.3886 1178.7 58.652"
					stroke-linecap="round"
				/>
				<path
					d="M1178.7 58.652C1193.93 72.0847 1210.57 84.2497 1227.13 95.9417C1240.1 105.099 1252.79 116.09 1267.06 123.225C1273.27 126.33 1280.3 129.498 1286.04 133.326C1286.98 133.952 1275.89 140.139 1275.28 140.501C1261.8 148.431 1250.87 160.27 1239.5 170.804C1225.18 184.068 1209.58 195.402 1195.7 209.132C1189.25 215.5 1175.95 222.189 1171.91 230.279"
					stroke-linecap="round"
				/>
				<path
					d="M1282.36 138.518C1282.36 144.771 1285.41 151.516 1286.13 157.965C1289.08 184.156 1291.01 210.409 1293.31 236.699C1295.04 256.506 1295.74 276.291 1297.46 296.079C1298.51 308.094 1299.35 320.169 1299.35 332.236"
					stroke-linecap="round"
				/>
				<path
					d="M1187.2 461.381C1190.05 461.064 1192.42 458.411 1194.47 456.661C1203.71 448.78 1213.27 440.698 1221.94 432.21C1232.38 421.989 1238.47 408.285 1247.62 396.997C1254.3 388.755 1261.73 381.331 1268.1 372.83C1278.57 358.876 1293.37 345.907 1301.05 330.536"
					stroke-linecap="round"
				/>
				<path
					d="M983.285 466.479C983.285 450.125 985.076 434.032 986.589 417.766C989.065 391.151 987.219 360.495 1009.53 341.11C1026.45 326.411 1061.11 320.867 1082.41 327.421C1096.29 331.693 1105.47 342.306 1111.68 355.082C1125.11 382.752 1119.23 416.077 1119.23 445.71C1119.23 451.78 1119.02 459.051 1120.93 464.779"
					stroke-linecap="round"
				/>
				<path
					d="M1098.84 384.913C1082.2 371.602 1073.79 409.603 1099.78 403.983C1105.54 402.738 1105.39 386.448 1100.54 383.214"
					stroke-linecap="round"
				/>
				<path
					d="M1199.89 273.888C1199.22 276.386 1199.91 279.619 1200.14 282.086C1201 291.033 1201.84 299.98 1202.68 308.929C1203.6 318.714 1204.27 328.609 1205.89 338.31"
					stroke-linecap="round"
				/>
				<path
					d="M1199.14 272.39C1207.52 264.865 1218 259.232 1227.38 253.101C1233.03 249.411 1238.89 246.066 1244.53 242.363C1247.32 240.528 1249.86 238.361 1252.7 236.6C1255.78 234.695 1259.03 233.092 1262.3 231.543C1263.72 230.869 1263.62 231.35 1263.77 232.792C1264.6 240.702 1265.07 248.628 1266 256.534C1266.64 261.936 1267.99 267.169 1268.43 272.598C1268.63 274.996 1268.48 277.536 1269.18 279.839C1269.9 282.19 1270.19 284.493 1271.14 286.789C1272.22 289.386 1273.68 292.098 1273.68 294.863"
					stroke-linecap="round"
				/>
				<path
					d="M1205.51 342.056C1206.97 341.79 1207.83 339.823 1208.76 338.851C1211.39 336.088 1214.87 334.041 1218.08 332.026C1226.79 326.547 1235.31 320.666 1243.71 314.714C1248.83 311.09 1254.16 307.548 1259.7 304.601C1264.23 302.188 1269.98 300.056 1273.68 296.361"
					stroke-linecap="round"
				/>
				<path
					d="M1228.73 251.04C1230.11 265.331 1233.26 279.41 1236.56 293.364C1237.72 298.306 1239.27 303.2 1240.26 308.18C1240.96 311.714 1241.2 315.304 1241.84 318.834"
					stroke-linecap="round"
				/>
				<path
					d="M1199.52 304.226C1207.36 298.219 1215.51 292.73 1224.16 287.933C1229.97 284.709 1236.03 282.019 1241.88 278.882C1248.48 275.345 1255.32 272.753 1262.25 269.997C1263.28 269.588 1265.66 268.958 1266.19 267.895"
					stroke-linecap="round"
				/>
				<path
					d="M100.713 122.216C83.4569 139.472 64.3758 145.346 39.9015 140.234C19.6029 135.994 -7.23585 118.738 3.41455 94.2873C7.39469 85.1498 15.2151 80.4348 22.2211 74.1294C27.672 69.2235 24.0859 66.2562 22.1085 60.2779C12.3273 30.7069 41.4812 19.8019 66.2531 17.9351C81.6553 16.7743 128.316 15.8629 134.272 37.3047C134.538 38.2621 132.687 39.6937 133.821 36.2911C136.265 28.9594 145.281 24.1963 151.84 21.7639C162.418 17.8412 216.302 11.4918 201.39 38.4308C200.172 40.6316 197.639 40.8063 200.264 40.0074C207.019 37.9513 215.244 38.1566 222.111 38.8813C233.465 40.0794 267.384 47.5116 258.598 66.5843C255.885 72.472 233.44 81.5155 239.679 84.6025C251.833 90.6172 289.008 113.492 261.3 126.945C237.866 138.324 200.759 134.548 176.615 127.171C168.576 124.714 175.17 124.015 177.29 131.225C182.518 148.999 153.991 150.825 143.056 149.919C125.908 148.497 111.731 139.093 98.6859 128.747C96.2879 126.845 90.5777 123.732 90.5777 122.216"
					stroke-linecap="round"
				/>
				<path
					d="M506.345 95.8639C504.356 102.825 493.582 87.9095 489.903 81.6745C476.055 58.2026 487.39 32.1023 515.354 29.6469C520.894 29.1605 535.884 36.5184 537.088 30.0974C541.264 7.8271 571.204 3.22425 589.679 1.60604C598.69 0.816769 606.189 0.659159 614.792 3.18264C620.258 4.78604 621.891 9.34592 626.391 10.953C646.559 18.1557 674.716 3.33999 693.284 19.2864C695.425 21.1254 696.243 24.6035 695.086 27.1694C694.405 28.6785 689.348 30.3957 690.919 29.8721C701.304 26.4103 713.406 36.8992 711.189 47.6651C707.041 67.8117 683.988 68.5576 669.41 76.0438C667.682 76.931 676.764 88.8675 670.648 94.8504C655.83 109.347 625.989 110.621 606.796 108.702C591.307 107.153 595.933 100.542 602.742 107.351C614.815 119.424 588.969 127.132 582.021 127.959C564.192 130.081 532.179 126.157 522.111 108.139C516.953 98.9096 517.281 95.8639 506.345 95.8639Z"
					stroke-linecap="round"
				/>
				<path
					d="M367.611 495.193C367.611 474.985 372.685 455.102 370.765 434.832C369.447 420.923 365.954 405.285 355.449 395.192C340.396 380.729 321.615 381.573 302.746 377.624"
					stroke-linecap="round"
				/>
				<path
					d="M298.634 354.25C291.276 350.656 281.59 351.976 274.297 355.089C267.704 357.903 260.846 363.049 260.764 371.035C260.594 387.621 280.754 391.883 293.468 389.55C300.462 388.267 311.484 383.883 313.321 375.651C314.562 370.087 308.891 365.523 305.007 363.036C298.283 358.729 288.761 354.897 280.696 356.138"
					stroke-linecap="round"
				/>
				<path
					d="M257.174 328.767C254.033 320.852 254.687 312.404 257.61 304.417C262.857 290.08 274.954 282.018 288.425 276.18C289.506 275.711 297 272.77 298.895 272.77C305.563 272.77 309.863 282.538 311.863 287.047C316.621 297.774 318.843 308.979 318.962 320.677C318.991 323.587 316.272 331.634 318.089 329.362C322.285 324.118 327.464 320.744 333.635 317.901C344.889 312.716 361.454 306.57 373.889 311.119C379.838 313.296 385.695 321.412 384.477 328.054C383.281 334.583 375.426 338.844 370.478 341.775C363.855 345.699 356.881 348.408 349.975 351.69C346.632 353.278 355.084 354.139 356.399 354.744C361.07 356.89 364.997 360.969 365.203 366.364C365.468 373.283 361.063 381.145 355.804 385.4C352.471 388.096 348.624 389.208 344.422 389.524C342.459 389.672 340.82 388.858 342.955 390.198C353.912 397.078 357.812 415.765 344.184 422.361C337.068 425.806 327.379 426.599 319.636 425.613C316.063 425.158 312.713 424.062 309.761 421.965C308.618 421.153 306.052 417.796 306.787 418.99C317.774 436.844 286.446 440.991 275.575 440.723C262.89 440.411 233.711 430.884 243.69 412.923C243.929 412.493 242.932 413.56 242.5 413.795C237.837 416.339 232.371 417.126 227.113 416.928C214.843 416.466 207.764 409.045 205.618 397.218C204.406 390.54 206.166 381.914 210.972 376.833C212.141 375.598 215.612 376.138 215.612 378.261C215.612 378.815 214.612 377.744 214.224 377.349C209.1 372.126 204.763 365.793 201.573 359.225C199.815 355.606 190.252 334.375 201.097 334.518C207.478 334.602 214.744 337.725 220.529 340.189C221.882 340.765 225.211 343.198 224.614 341.855C223.522 339.398 221.765 337.359 220.767 334.795C217.777 327.11 216.843 317.003 223.544 310.881C230.374 304.641 241.094 309.534 248.092 312.944C253.505 315.581 257.102 320.075 260.029 325.198"
					stroke-linecap="round"
				/>
				<path
					d="M657.123 410.018C654.017 393.632 652.154 377.773 652.971 361.041C653.682 346.492 653.84 324.82 664.044 312.97C668.13 308.225 675.244 305.599 681.079 303.654"
					stroke-linecap="round"
				/>
				<path
					d="M709.826 280.656C700.913 277.289 689.773 277.244 683.741 285.714C678.506 293.064 676.447 307.202 686.083 312.384C696.561 318.019 714.771 297.624 715.576 288.375C716.133 281.967 706.92 277.769 702.16 275.865"
					stroke-linecap="round"
				/>
				<path
					d="M691.62 270.116C691.62 261.785 692.497 251.482 702.16 248.928C707.462 247.527 713.393 249.366 717.812 252.335C721.962 255.124 721.861 258.669 724.626 261.917C726.919 264.613 738.725 263.569 741.874 264.26C746.238 265.217 755.067 267.375 755.715 273.203C756.216 277.713 751.145 281.394 748.049 283.637C745.05 285.81 742.156 286.252 746.292 288.642C750.973 291.346 757.208 294.713 759.175 300.14C761.937 307.76 754.895 313.771 749.007 316.963C745.961 318.614 741.236 318.818 742.992 323.031C744.355 326.303 745.54 329.746 744.376 333.306C741.141 343.201 727.001 342.228 719.355 339.268C716.565 338.188 713.416 340.376 710.572 340.759C701.976 341.916 688.001 341.742 681.931 334.211C680.892 332.922 681.806 331.794 680.227 332.401C677.286 333.532 673.664 334.037 670.539 333.678C660.41 332.516 660.063 323.038 653.29 318.24C645.435 312.676 635.33 308.132 633.274 297.372C630.828 284.573 645.365 286.559 652.492 289.493C653.88 290.065 652.967 282.742 652.971 282.466C653.016 279.241 652.959 273.765 657.283 273.31C658.863 273.143 663.347 275.073 664.47 273.576C665.808 271.792 665.185 267.148 665.96 264.952C668.18 258.662 674.067 256.551 680.015 258.883C684 260.446 692.458 263.167 694.495 267.241"
					stroke-linecap="round"
				/>
			</svg>
		</div>
		<div class="content">
			<h1 class="greeting">
				Hi, I'm Panyawat (Bom) Kaedpol
				<br />
				A frontend developer in Bangkok, Thailand
				<br />
				Crafting user-friendly, interactive web experiences
			</h1>
			<div class="cta">
				<a href="/projects.html" class="button button--outline"
					>My Projects</a
				>
				<a href="/contact.html" class="button">Contact Me</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		flex: 1;
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}

	.drawing {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.drawing-horizontal {
		max-width: 1302px;
	}

	.drawing-vertical {
		display: none;
		max-width: 557px;
	}

	.content {
		display: flex;
		align-items: end;
		justify-content: space-between;
		column-gap: 4rem;
		row-gap: 2rem;
		flex-wrap: wrap;
	}

	.greeting {
		margin-top: 0;
		margin-bottom: 0;
		font-size: clamp(var(--font-lg), 3vw, var(--font-xl));
	}

	.cta {
		display: flex;
		gap: 1rem;
	}

	@media (max-width: 555px) {
		.drawing-vertical {
			display: initial;
		}

		.drawing-horizontal {
			display: none;
		}

		.cta {
			flex-direction: column-reverse;
			width: 100%;
		}
	}
</style>