---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import catMapsImage from '../assets/cat-maps.jpg';
import graduateProjectImage from '../assets/graduate-project.jpg';
import nichakarnPortImage from '../assets/nichakarn-port.jpg';
import quarantineCheckerImage from '../assets/quarantine-checker.jpg';
---

<Layout>
	<div class="main-wrapper">
		<main class="container">
			<section class="hero-section">
				<p class="gradient-text">Hello,</p>
				<h1>
					I'm Panyawat Kaedpol - a Frontend developer
					<br>
					Crafting user-friendly, interactive web experiences.
				</h1>
				<div class="buttons">
					<a class="nes-btn" href="til">TIL</a>
					<a class="nes-btn" href="#contact">CONTACT</a>
				</div>
			</section>
			<section>
				<div class="projects">
					<div class="project nes-container is-dark is-rounded">
						<h2>Cat Maps</h2>
						<Image src={catMapsImage} alt="cat maps" />
					</div>
					<div class="project nes-container is-dark is-rounded">
						<h2>Graduate Project</h2>
						<Image src={graduateProjectImage} alt="graduate project" />
					</div>
					<div class="project nes-container is-dark is-rounded">
						<h2>Nichakarn Port</h2>
						<Image src={nichakarnPortImage} alt="nichakarn-port" />
					</div>
					<div class="project nes-container is-dark is-rounded">
						<h2>Quarantine Checker</h2>
						<Image src={quarantineCheckerImage} alt="quarantine checker" />
					</div>
					<a href="projects" class="nes-container is-dark is-rounded view-all">
						VIEW ALL PROJECTS
						<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path d="M8 5v2h2V5H8zm4 4V7h-2v2h2zm2 2V9h-2v2h2zm0 2h2v-2h-2v2zm-2 2v-2h2v2h-2zm0 0h-2v2h2v-2zm-4 4v-2h2v2H8z" fill="currentColor"/>
						</svg>
					</a>
				</div>
			</section>
		</main>	
	</div>	
</Layout>

<style>
	.main-wrapper {
		padding-inline: 2rem;
		position: relative;
		z-index: 1;
		background-color: inherit;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
	}

	main {
		min-height: calc(100dvh - 72px);
	}

	.hero-section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-block: 4rem;
		align-items: start;

		p {
			font-size: 4rem;
		}

		h1 {
			font-size: 2rem;
			font-weight: normal;
			line-height: 2;
		}

		.buttons {
			display: flex;
			gap: 1rem;
		}
	}

	.projects {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 1rem;
		padding-bottom: 4rem;

		.project {
			position: relative;
			aspect-ratio: 1 / 1;

			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover h2 {
				opacity: 1;
			}

			&:hover:before {
				opacity: 1;
			}

			h2 {
				font-weight: normal;
				opacity: 0;
				bottom: 0;
				left: 0;
				padding: 2rem;
				font-size: 2rem;
				transition: opacity 250ms;
				margin-bottom: 0;
				position: absolute;
			}

			&:before {
				content: '';
				position: absolute;
				inset: 0.5rem;
				background: linear-gradient(to bottom, hsla(270, 10%, 4%, 0) 0%, hsla(270, 10%, 4%, 0.75) 100%);
				opacity: 0;
				transition: opacity 250ms;
			}
		}

		.view-all {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
		}
	}
</style>
